<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Mellis</string>
	<key>CFBundleDisplayName</key>
	<string>Mellis</string>
	<key>CFBundleIdentifier</key>
	<string>org.themelio.ginkou-walllet</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>tlio</string>
	<key>CFBundleExecutable</key>
	<string>mellis.sh</string>
	<key>CFBundleIconFile</key>
	<string>mel-coin.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
</dict>
</plist>
