.DS_Store
wallet
ginkou.app
ginkou-public
*.dmg*
.vscode/settings.json
mac/artifacts
mellis-android/app/src/main/jniLibs
windows/artifacts
IS6.zip
dmg
ginkou-loader-archive/
iscc/
melwalletd-archive/
top-level/
.flatpak-builder/
build/
export/
mellis.flatpak